
html {
	margin-left: 350px;
	font-family: 'Roboto', sans-serif;
	background-color: #37474F;
}

body {
	display: block;
	background-color: #37474F;
}

div {
	background-color: #37474F;
}

div.content {
	padding-top: 50px;
	padding-bottom: 100px;
	color:#FAFAFA;
	padding-right: 50px;
	font-size: medium;
}

/* Navbar Elements*/
div.navbar {
	font-family: 'Roboto', sans-serif;
	position:fixed;
	bottom:0;
	left:75px;
	width:250px;
	height: 100%;
	padding-top: 100px;
	padding-left: 25px;
 	color:#FAFAFA;
	background-color:#90A4AE;
	u1 {
		list-style-type: : none;
		margin: 0;
		padding: 0;
	}
}



#namelink {
	font-family: 'Ubuntu',sans-serif;
	color:#37474F;

}

#namelink:hover{
 	color:#FAFAFA;
}

#biolink, #explink, #prolink, #reslink {
	color:#FAFAFA;
}


/*Quotes CSS*/
 #favquote {
	font-family: 'Oswald',sans-serif;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	color:#FAFAFA;
}

/*Bio CSS*/
#bio {

}

#bio h1, #biolink:hover {
	color:#BA68C8;

}


/*Experience CSS*/
#exp {

}

#exp h1, #explink:hover {
	color:#64B5F6;
}

/*Projects CSS*/
#projects {

}

#projects h1,  #prolink:hover {
	color:#C5E1A5

;
}

/*Resume CSS*/
#resume {

}

#resume h1,  #reslink:hover {
	color:#E57373;
}
