/* Class Settings*/
body {
	display: block;
	background-color: #ededed;
	font-family: "Ubuntu",sans-serif;

}

div.content {
	margin-left:240px;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
	font-family: "Ubuntu",sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* Navbar Elements*/
#navbar {
	font-family: "Ubuntu",sans-serif;
	background-color: #aaaaaa;
	height: 100%;
	position:fixed;
	top: 0;
	padding-top: 5%;
	left:40px;
	width: 200px;
}

#navbar h1 {
padding-left: 10px;
}

#navbar ul {
	list-style-type: none;
	padding-left: 20px;

}



/*  Removes the link underlining from any link */
#navbar a {
	text-decoration: none;
}

#namelink {
	border-left-style: none;
	color: #ededed;
	transition-duration: 500ms;

}

#namelink:hover {
	color: #000000;
	border-left-style: solid;
	transition-duration: 500ms;
	border-left-width: 10px;
}

#biolink {
	border-left-style: none;
	color: #ededed;
	transition-duration: 500ms;

}

#biolink:hover {
	color: #ba66b9;
	border-left-style: solid;
	transition-duration: 500ms;
	border-left-width: 10px;
}

#explink {
	border-left-style: none;
	color: #ededed;
	transition-duration: 500ms;

}

#explink:hover {
	color: #4242ed;
	border-left-style: solid;
	transition-duration: 500ms;
	border-left-width: 10px;
}

#prolink {
	border-left-style: none;
	color: #ededed;
	transition-duration: 500ms;

}

#prolink:hover {
	color: #a6e070;
	border-left-style: solid;
	transition-duration: 500ms;
	border-left-width: 10px;
}

#reslink {
	border-left-style: none;
	color: #ededed;
	transition-duration: 500ms;

}

#reslink:hover {
	color: #e0707e;
	border-left-style: solid;
	transition-duration: 500ms;
	border-left-width: 10px;
}

/* Quotes Elements*/
 #favquote {
	font-family: 'Ubuntu',sans-serif;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 20%;
	color:#000000;
}


/* Bio Elements */

#bio {
	height: 100%;
	/* Has different top padding to center it on the screen on click */
	padding-top: 8%;
	padding-bottom: 20%;
	font-size: 14px;
}

#bio h1 {
	color:#ba66b9;
}

/* Experience Elements */
#exp h1{
	color: #4242ed
}

#exp {
	padding-top: 1%;
	padding-bottom: 20%;
}

/* Projects Elements */

#projects h1 {
	color:#a6e070;
}

#projects {
	padding-top: 2%;
	padding-bottom: 20%;
}

/* Resume Elements  */

#resume h1 {
		color: #e0707e;
}

#resume {
	padding-top:5%
}
