html {
	margin-left: 350px;
	font-family: 'Ubuntu', sans-serif;
	background-color: #37474F;
}
body {
	display: block;
	background-color: #37474F;
}

div {
	background-color: #37474F;
}

div.content {
	padding-top: 200px;
	padding-bottom: 200px;
	color:#FAFAFA;
}


#favquote {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	color:#FAFAFA;
}


div.navbar {
	font-family: 'Ubuntu', sans-serif;
	position:fixed;
	color:#CCFF90;
	bottom:0;
	left:75px;
	width:250px;
	height: 100%;
	padding-top: 100px;
	padding-left: 25px;
	background-color:#90A4AE;
}

div.navbar h1 a {
	color:#CCFF90;
	hover: #F44336;

}

 a:hover {
 	color:#F44336;
 }

 a:link, a:visited{
 	color:#00E5FF;
 }





