<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sidney M. Velado</title>
	<link rel="icon" type="image/png" href="/static/images/wrenchIcon.png" />
	<link rel="stylesheet" type="text/css" href="/static/css/mysite.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' 
	type='text/css'>
</head>
<body>

	<!-- All "Side Nav Bar" -->
	<div class='navbar'>
		<h1>
			Sidney M. Velado
		</h1>
		<ul>
			<li><h2><a href='http://www.facebook.com'>Bio</a></h2></li>
			<br> 
			<li><h2>Experience</h2></li>
			<br>
			<li><h2>Projects</h2></li>
			<br>
			<li><h2>Resume</h2></li>
		</ul>
	</div>

	<div class="">
</body>
</html>